<form class="uk-form" {{action "update" on="submit"}}>
  <div class="uk-form-row">
    <legend>Edit user</legend>
    <fieldset data-uk-margin>
      {{autofocus-text-field type="text" value=model.firstName placeholder="first name"}}
      {{input type="text" value=model.lastName placeholder="last name"}}
      {{input type="text" value=model.username placeholder="username"}}
      {{input type="text" value=model.email placeholder="email"}}
      <label>{{input type="checkbox" name="isAdmin" checked=model.admin}} Admin</label>
    </fieldset>
  </div>

  <div class="uk-form-row">
    <button class="uk-button uk-button-primary" type="submit">Submit</button>
    {{#link-to 'admin.users.index' class="uk-button"}}Close{{/link-to}}
  </div>
</form>
