{{outlet}}

<table>
  <tr>
    <th>id</th>
    <th>owner</th>
    <th>checked in</th>
    <th><!-- controls --></th>
  </tr>
{{#each model as |package|}}
  <tr>
    <td>{{package.id}}</td>
    <td>{{package.owner.firstName}}</td>
    <td>{{package.timeCheckin}}</td>
    <td><button {{action 'pickup' package}}>Pick up</button></td>
  </tr>
{{/each}}
</table>
