{{outlet}}

<table>
  <tr>
    <th>barcode</th>
    <th>owner</th>
    <th>checked in</th>
    <th><!-- controls --></th>
  </tr>
{{#each model as |package|}}
  <tr>
    <td>{{package.barcode}}</td>
    <td>{{package.owner.firstName}}</td>
    <td>{{ago package.timeCheckin}}</td>
    <td>
      {{#if package.pickedUp}}
        <!-- Picked up -->
        Picked up
      {{else}}
        <button {{action 'pickup' package}}>Pick up</button>
      {{/if}}
    </td>
  </tr>
{{/each}}
</table>
